body {
  background-color: rgba(0, 134, 137, 255);
}

.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 6% auto;
}

.mainbox:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(./arrow-bottom.png) no-repeat;
  background-size: 5%;
  left: 5%;
  top: 48%;
  transform: rotate(90deg);
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #464646;
  overflow: hidden;
  /* transition: all ease-in-out 5s; */
  transform: rotate(90deg);
}

span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  /* background-color: #796eb2; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7cd8+0,fba6e1+31,f9b8f9+53,fd89d7+76 */
  background: #ff7cd8; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ff7cd8 0%,
    #fba6e1 31%,
    #f9b8f9 53%,
    #fd89d7 76%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ff7cd8 0%,
    #fba6e1 31%,
    #f9b8f9 53%,
    #fd89d7 76%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ff7cd8 0%,
    #fba6e1 31%,
    #f9b8f9 53%,
    #fd89d7 76%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fd89d7',GradientType=1 ); /* IE6-9 */
}

.span2 {
  clip-path: polygon(0 17%, 32% 0, 50% 50%);
  /* background-color: #11a9d8; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
  background: #d0e4f7; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d0e4f7 0%,
    #73b1e7 24%,
    #0a77d5 50%,
    #539fe1 79%,
    #87bcea 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d0e4f7 0%,
    #73b1e7 24%,
    #0a77d5 50%,
    #539fe1 79%,
    #87bcea 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d0e4f7 0%,
    #73b1e7 24%,
    #0a77d5 50%,
    #539fe1 79%,
    #87bcea 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}

.span3 {
  clip-path: polygon(32% 0, 71% 0, 50% 50%);
  /* background-color: #f43d51; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6290c+0,ef8173+49,e73827+100 */
  background: #f6290c; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #f6290c 0%,
    #ef8173 49%,
    #e73827 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #f6290c 0%,
    #ef8173 49%,
    #e73827 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #f6290c 0%,
    #ef8173 49%,
    #e73827 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.span4 {
  clip-path: polygon(67% 0, 100% 18%, 50% 50%);
  /* background-color: #f5b122; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 */
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  /* background: #f8441f; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+50,ea2803+51,ff6600+75,c72200+100;Red+Gloss */
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #f3c5bd 0%,
    #e86c57 50%,
    #ea2803 51%,
    #ff6600 75%,
    #c72200 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f3c5bd 0%,
    #e86c57 50%,
    #ea2803 51%,
    #ff6600 75%,
    #c72200 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f3c5bd 0%,
    #e86c57 50%,
    #ea2803 51%,
    #ff6600 75%,
    #c72200 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=1 ); /* IE6-9 */
}

.box2 .span3 {
  background-color: #f43d51;
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.font {
  color: white;
  font-size: 25px;
}

.heading {
  text-align: center;
  color: orange;
}

.box1 .span1 b {
  position: absolute;
  top: 36%;
  right: 83%;
  transform: rotate(200deg);
  text-align: center;
}

.box1 .span2 b {
  position: absolute;
  top: 17%;
  right: 70%;
  transform: rotate(-130deg);
}

.box1 .span3 b {
  position: absolute;
  top: 8%;
  right: 46%;
  transform: rotate(-90deg);
}

.box1 .span4 b {
  position: absolute;
  top: 17%;
  right: 21%;
  transform: rotate(-45deg);
}

.box1 .span5 b {
  position: absolute;
  top: 36%;
  right: 10%;
  transform: rotate(-15deg);
  text-align: center;
}

.box2 .span1 b {
  position: absolute;
  top: 36%;
  right: 82%;
  transform: rotate(200deg);
}

.box2 .span2 b {
  position: absolute;
  top: 17%;
  right: 71%;
  transform: rotate(-130deg);
  text-align: center;
}

.box2 .span3 b {
  position: absolute;
  top: 7%;
  right: 46%;
  transform: rotate(270deg);
}

.box2 .span4 b {
  position: absolute;
  top: 16%;
  right: 20%;
  transform: rotate(310deg);
}

.box2 .span5 b {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: rotate(-20deg);
  text-align: center;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #464646;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
}

.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.arrow {
  height: 90px;
  position: absolute;
  top: 205px;
  left: 287px;
  transform: scaleX(-1);
}

.arrow_div {
  animation: animateArrows 5s linear 1s infinite alternate-reverse slide-in;
}

.card {
  position: absolute;
  background-color: blueviolet;
  font-size: 25px;
  text-align: center;
  top: -370px;
  left: 25px;
  z-index: 11;
}

.svg-triangle {
  position: absolute;
  top: 201px;
  left: 470px;
}

/* .svg-triangle_below {
  position: absolute;
  top: 201px;
  left: 464px;
} */

.svg-triangle_below {
  position: absolute;
  /* top: 160px;
  left: 150px; */
  top: 201px;
  left: 464px;
  right: -18px;
  fill: aliceblue;
  /* box-shadow: #000; */
}

.mainbox.animate:after {
  animation: animateArrow 0.7s ease infinite;
}

audio {
  display: none;
}

@keyframes animateArrow {
  50% {
    right: -50px;
  }
}

@keyframes animateArrows {
  0% {
    top: 103px;
    left: 290px;
  }
  100% {
    top: 103px;
    left: 300px;
  }
}

@media (max-width: 576px) {
}
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .mainbox {
    width: 300px;
    height: 300px;
  }

  .svg-triangle {
    position: absolute;
    top: 103px;
    left: 295px;
  }

  .svg-triangle_below {
    position: absolute;
    top: 103px;
    left: 289px;
  }
  .font {
    font-size: 18px;
  }
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}



/* Scratch Card */

.container {
  background-color: white;
  padding: 0;
  border: 3px solid yellow;
  position: relative;
  width: 231px;
  height: 231px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 10px;
}
